.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  min-width: 100vw;
  height: 200px;
}

.img_logo {
  margin-left: 70px;
}

.navbar ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 92px;
}

.navbar ul li:nth-child(1) {
  color: #c54125;
  font-family: "Poppins", sans-serif;
  font-size: 22.831px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 103px;
}

.search_bar {
  display: flex;
  align-items: center;
  width: 250px;
  height: 44px;
  border-radius: 40px;
  border: 2px solid #000;
  background: #fff;
  mix-blend-mode: darken;
  margin-left: 121px;
}

.search_bar img,
span {
  margin-left: 12px;
}

.search_bar span {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.container_icons {
  margin-left: 84px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_icons img {
  margin-right: 26px;
  width: 46px;
  height: 43px;
  flex-shrink: 0;
}

.container_icons span {
  color: #000;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.64px;
}
