.band {
  width: 100vw;
  height: 168px;
  flex-shrink: 0;
  background: #363636;
  color: #fff;
}

.band div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.band span:nth-child(2) p {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.band span:nth-child(3) p {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.56px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 95px;
}

.title h1 {
  margin-left: 520px;
  margin-bottom: 65px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.shoe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoe-pics {
  width: 1681px;
  height: 1021px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ebeeef;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  z-index: 1;
}

.arrow img {
  width: 160px;
  height: 160px;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoe-info h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.96px;
}

.shoe-info img {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.shoe-info p:first-of-type {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.96px;
}

.shoe-info p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.sizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.sizes h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-top: 154px;
  margin-bottom: 40px;
}

.sizes ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 27px;
  column-gap: 32px;
  list-style: none;
}

.sizes li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 75px;
  flex-shrink: 0;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.64px;
  border-radius: 5px;
  border: 2px solid #000;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  margin-bottom: 448px;

}

.action-buttons button {
  width: 418px;
  height: 107px;
  flex-shrink: 0;
  border-radius: 40px;
}

.action-buttons button:first-of-type {
  background: #363636;
  margin-right: 120px;
}

.action-buttons button:nth-child(2) {
  background: transparent;
}
